
$themecolor : #ff6600;
$textwhite : #ffffff;
$textblack : #000000;
$grey: #f4f4f4;
$background_white: #ffffff;
$background_black: #000000;
$box_shadow: 0 1px 7px rgba(0,0,0,.19);
$focus_box_shadow: 0 1px 7px rgba(0, 89, 255, 0.19);
$font16 : 0.833876221vw;
$font14 : 0.729166667vw;
$font12 : 0.5vw;
$orange: #FF6600;
$skyblue: #4285F4;
$green: #0F9D58;
$yellow: #FBBC04;
$inputcolor: #ffffff;